# Path: ~/.npmrc or $HOME/.npmrc

# More info:
# - https://docs.npmjs.com/cli/v9/using-npm/config
# - https://docs.npmjs.com/cli/v8/using-npm/config
# - https://docs.npmjs.com/cli/v8/using-npm/config#init-author-email
# - https://lass.js.org/?id=configuration
# - https://github.com/npm/init-package-json

# Validate: npm config ls or npm config ls -l

init-author-email="jm.palmeiro@campus.fct.unl.pt"
init-author-name="João Palmeiro"
init-author-url="https://www.linkedin.com/in/joaopalmeiro"
init-license="MIT"
init-version="0.0.0"
