<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.chocolatey.org/en-us/choco/commands/install#packages.config -->
<!-- https://community.chocolatey.org/packages -->
<packages>
    <!-- https://github.com/pyenv-win/pyenv-win#Chocolatey -->
    <!-- https://community.chocolatey.org/packages/pyenv-win -->
    <package id="pyenv-win" />

    <!-- https://community.chocolatey.org/packages/7zip.install -->
    <package id="7zip.install" />
</packages>
